body{
    background-color: rgb(11, 14, 41);
    height:100%;
    
}

.appContainer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 70px;
    width: 100%;
    /*background-image: url("../images/app-background.svg");*/
    background-color: rgb(11, 14, 41);
    height:100%;
    min-height: 600px;
    min-width: 700px;
    
}

#content{
    padding-top: 20px;
    grid-column: 1 / 5;
    grid-row: 2 / 3;  
}

#footer{
    grid-column: 1 / 5;
    grid-row: 3 / 4; 
}

#footer_image{
    height:100%;
    width:100%;
    position:relative;
    margin-top: 35px;
}

#toolbar {
    grid-column: 1 / 1;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 250px 1fr 75px 100px;
    grid-template-rows: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#toolbar_row1{
    grid-column: 1 / 5;
    grid-row: 1 / 2;
}

#tool_bar_logo_link{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height:100%;
    width:100%;
    position:relative;
}

#toolbar_logo_title{
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
    height:100%;
    width:100%;
    background-image: url("../images/logo_icon.svg");
    background-size:50%;
    background-repeat: no-repeat;
    


}


#toolbar_login{
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    color:rgb(196, 33, 128);
    font-size: 12pt;
    font-weight: 700;
    padding-top: 20px;
}


#toolbar_menu{
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    color:rgb(185, 157, 238);
    padding-top: 8px;
    font-size: 12pt;
    font-weight: 700;
}

.paginationbar{
    position: relative;
    margin-right: 8%;
    margin-left:8%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14pt;
    font-weight: 700;
    margin-top: 20px; 
    background-color: rgb(44, 50, 105);
    border-radius: 8px;
}

#tab_container{
    padding-left: 10%;
}

#album_toolbar{
    display: grid;
    grid-template-columns: 100px 1fr 150px 75px 75px;
    grid-template-rows: auto;
    position: relative;
    min-height: 30px;
    padding-top: 6px;
    padding-left: 15px;
    margin-right: 8%;
    margin-left:8%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-style: none;
    border-width: 1px;
    margin-top: 20px; 
    color :rgb(49, 57, 131);
    font-size: 12pt;
    font-weight: 700;

}

#album_toolbar_addButton{
    position: relative;
    margin-right: 8%;
    margin-left:8%;
    padding-top: 20px;
    padding-bottom: 10px;
}

#album_toolbar_createdBy{
    grid-column: 3 / 4;
    grid-row: 1/ 2;
}

#album_toolbar_numberOfPhotos{
    grid-column: 4 / 5;
    grid-row: 1/ 2;
}

#photo_toolbar{
    
    position: relative;
    height: 30px;
    padding-top: 6px;
    margin-right: 8%;
    margin-left:8%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12pt;
    font-weight: 700;
    border-style: none;
    border-width: 1px;
    margin-top: 20px; 
    color:rgba(255, 255, 255, 0.621);
}

#photo_toolbar_addButton{
    margin-left: 20px;
    display: inline-block;
}

#photo_toolbar_homeButton{
    display: inline-block;
}


.albumRow{
    display: grid;
    grid-template-columns: 100px 1fr 150px 75px 75px;
    grid-template-rows: auto auto;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 25px;
    margin-left: 8%;
    margin-right: 8%;
    color:rgb(97, 104, 168);
    background-color: rgb(44, 50, 105);
    border-radius: 8px;
    
}

.albumRowPhotoThumbnail{
    grid-column: 1 / 2;
    grid-row: 1 / 3; 
    height: 90px; 
    width: 90px; 
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-style: solid;
    border-width: 1px;
    border-color:rgb(196, 33, 128);
}

.albumRowTitle{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-size: 14pt;
    margin-left: 20px;
    margin-top: 10px;
    font-weight: 700;
    word-break: break-word;
    color:rgb(161, 164, 209);
}

.albumRowDescription{
    position: relative;
    grid-column: 2 / 3;
    grid-row: 2 / 3; 
    margin-left: 20px; 
    margin-top: 5px;
    word-break: break-word;
    font-size: 10pt;
    color:rgb(63, 72, 204);
}

.albumRowAuthor{
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    word-break: break-word;
    color:rgb(97, 104, 168);
}

.albumRowFileNumber{
    grid-column: 4 / 5;
    grid-row: 1 / 3;
    margin-top: 5px;
    text-align: center;
    color:rgb(97, 104, 168);
}

.albumRowMenu{
    grid-column: 5 / 6;
    grid-row: 1 / 3;
    margin-top: 24px;
}

.photoThumbnails{
    height: 200px;
    width: 200px;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 25px;
    margin-left: 2%;
    margin-right: 2%;
    border-style: solid;
    border-width: 1px;
    border-color:rgb(196, 33, 128);
    display: inline-block;
}

#photoThumbnailsContainer{
    position: relative;
    margin-left: 8%;
    margin-right: 8%;  
}

#imageModalContainer{
      align-items: center;
      justify-content: center;
      max-height: 90vh; 
      max-width: 90vw; 
}

#imageViewerImage{
    position: relative;
    width: auto;
    height: auto;
    max-height: 75vh; 
    max-width: 75vw;     
  }

.imageModalButtonContainer{
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;

}

#closeImageViewerButton{
    left: 43%;
}

#photoDeleteIcon{
    position: relative;
    padding-left: 90%;
}

a:hover{
    color: rgb(255, 255, 255); 
    cursor: pointer;
}

.button {
    padding: 2px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    color:rgb(133, 42, 95);
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    width: 100px;
    border: solid 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .button:hover {
    background-color:rgb(106, 83, 134);
  }

  #blog_toolbar_addButton{
    position: relative;
    right: 0%;
    padding-top: 20px;
    padding-left: 15px;
    margin-right: 8%;
    margin-left:8%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12pt;
    font-weight: 700;
    border-style: none;
    margin-top: 20px; 
}

.blogEntryRow{
    display: grid;
    grid-template-columns: 450px, 400px;
    grid-template-rows: 1fr;
    margin-left: 8%;
    margin-right: 20%;
    height: 240px;
    padding-top: 30px;
    padding-bottom: 60px;
    width:800px;
    
}

.blogEntryColumn1{
    grid-column: 1 /2;
    grid-row: 1 / 2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgba(255, 255, 255, 0.621);

}

.blogEmbeddedURL{
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.blogEntryColumn2{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    color:rgba(255, 255, 255, 0.621);

}

.blogEntryDetails{
    display: grid;
    grid-template-columns: 1fr, 30px;
    grid-template-rows: 20px, 15px, 200px, 15px;
    padding-bottom: 25px;
}

.blogTitle{
    grid-column: 1 /3;
    grid-row: 1 / 2;
    font-size: 16pt;
    margin-left: 5px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 700;
    word-break: break-word;
    text-align: left;
    color:rgb(161, 164, 209);
}

.blogAuthor{
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    margin-top: 5px;
    margin-right: 20px;
    margin-left: 5px;
    padding-top:5px;
    margin-bottom: 5px;
    word-break: break-word;
    color:rgb(63, 72, 204);
    text-align: left;
    font-size: 10pt;
    font-weight: 500;
}

.blogArticle{
    position: relative;
    grid-column: 1 / 3;
    grid-row: 3 / 4; 
    margin-left: 5px;
    margin-top: 4px;
    margin-bottom: 4px;
    white-space:pre-line;
    word-break: break-word;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
    height:150px;
    color:rgb(97, 104, 168);
    background-color: rgb(44, 50, 105);
    width:350px;
    font-family: Calibri, sans-serif,'Trebuchet MS','Gill Sans', 'Gill Sans MT'; 
    font-size: 14pt;
    font-weight: 700;
    border-radius: 8px;
    

}



.blogDate{
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    margin-top: 5px;
    margin-right: 20px;
    margin-left: 5px;
    margin-bottom: 15px;
    padding-top:5px;
    word-break: break-word;
    font-size: 11pt;
    color:rgb(97, 104, 168);
    text-align: left;
 
}

.blogMenu{
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    margin-right: 20px;
    margin-bottom: 10px;
    padding-right: 10px;
    position: relative;

}

#react-player{
    border-style: solid;
    border-width: 1px;
    border-color:rgb(133, 42, 95);
}


  
