body{
    background-color: rgb(11, 14, 41);
    height:100%;
    
}
/*
.main_container{
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
*/

.appContainer{
    visibility: visible;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 70px;
    width: 100%;
    /*background-color: rgb(11, 14, 41);*/
    height:100%;
    min-height: 600px;
    min-width: 400px;
    
}

#content{
    padding-top: 20px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;  
}

#footer{
    grid-column: 1 / 2;
    grid-row: 3 / 4; 
}

#footer_image{
    height:100%;
    width:100%;
    position:relative;
    margin-top: 35px;
}

#toolbar {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 150px 1fr 50px 75px;
    grid-template-rows: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#tool_bar_logo_link{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height:100%;
    width:100%;
    position:relative;
}

#toolbar_logo_title{
    display: flex;
    justify-content: center;
    align-items: left;
    margin-top: 10px;
}

#toolbar_logo_svg{
    height: 90px;
    width: 110px;
}


#toolbar_login{
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    color:rgb(196, 33, 128);
    font-size: 12pt;
    font-weight: 700;
    padding-top: 20px;
}


#toolbar_menu{
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    padding-top: 8px;
}

#toolbar_menu_svg{
    margin-top: 10px;
    margin-right: 10px;
    height: 30px;
    width:30px;
}

.paginationbar{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8%;
    margin-left:8%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14pt;
    font-weight: 700;
    margin-top: 20px; 
    border-radius: 8px;
}

.pagination_control{
    display: flex;
    background-color: rgb(44, 50, 105);
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding-left: 5px;
    padding-right: 5px;
}

#tab_container{
    padding-left: 10%;
}

#album_toolbar{
    display: grid;
    grid-template-columns: 100px 1fr 150px 75px 75px;
    grid-template-rows: auto;
    position: relative;
    min-height: 30px;
    padding-top: 6px;
    padding-left: 15px;
    margin-right: 8%;
    margin-left:8%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-style: none;
    border-width: 1px;
    margin-top: 20px; 
    color :rgb(49, 57, 131);
    font-size: 12pt;
    font-weight: 700;

}

#album_toolbar_addButton{
    position: relative;
    margin-right: 8%;
    margin-left:8%;
    padding-top: 20px;
    padding-bottom: 10px;
}

#album_toolbar_createdBy{
    grid-column: 3 / 4;
    grid-row: 1/ 2;
}

#album_toolbar_numberOfPhotos{
    grid-column: 4 / 5;
    grid-row: 1/ 2;
}

#photo_toolbar{
    
    position: relative;
    height: 30px;
    padding-top: 6px;
    margin-right: 8%;
    margin-left:8%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12pt;
    font-weight: 700;
    border-style: none;
    border-width: 1px;
    margin-top: 20px; 
    color:rgba(255, 255, 255, 0.621);
}

#photo_toolbar_addButton{
    margin-left: 20px;
    display: inline-block;
}

#photo_toolbar_homeButton{
    display: inline-block;
}


.albumRow{
    display: grid;
    grid-template-columns: 100px 1fr 150px 75px 75px;
    grid-template-rows: auto auto;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 25px;
    margin-left: 8%;
    margin-right: 8%;
    color:rgb(97, 104, 168);
    background-color: rgb(44, 50, 105);
    border-radius: 8px;
    
}

.albumRowPhotoThumbnail{
    grid-column: 1 / 2;
    grid-row: 1 / 3; 
    height: 90px; 
    width: 90px; 
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-style: solid;
    border-width: 1px;
    border-color:rgb(196, 33, 128);
}

.albumRowTitle{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-size: 14pt;
    margin-left: 20px;
    margin-top: 10px;
    font-weight: 700;
    word-break: break-word;
    color:rgb(161, 164, 209);
    min-width: 50px;
}

.albumRowDescription{
    position: relative;
    grid-column: 2 / 3;
    grid-row: 2 / 3; 
    margin-left: 20px; 
    margin-top: 5px;
    word-break: break-word;
    font-size: 10pt;
    color:rgb(63, 72, 204);
}

.albumRowAuthor{
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    word-break: break-word;
    color:rgb(97, 104, 168);
}

.albumRowFileNumber{
    grid-column: 4 / 5;
    grid-row: 1 / 3;
    margin-top: 5px;
    text-align: center;
    color:rgb(97, 104, 168);
}

.albumRowMenu{
    grid-column: 5 / 6;
    grid-row: 1 / 3;
    margin-top: 24px;
}

.photoThumbnails{
    height: 200px;
    width: 200px;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 25px;
    margin-left: 2%;
    margin-right: 2%;
    border-style: solid;
    border-width: 1px;
    border-color:rgb(196, 33, 128);
    display: inline-block;
}

#photoThumbnailsContainer{
    position: relative;
    margin-left: 8%;
    margin-right: 8%;  
}

#imageModalContainer{
      align-items: center;
      justify-content: center;
      max-height: 90vh; 
      max-width: 90vw; 
}

#imageViewerImage{
    position: relative;
    width: auto;
    height: auto;
    max-height: 75vh; 
    max-width: 75vw;     
  }

.imageModalButtonContainer{
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;

}

#closeImageViewerButton{
    left: 43%;
}

#photoDeleteIcon{
    position: relative;
    padding-left: 90%;
}

a:hover{
    color: rgb(255, 255, 255); 
    cursor: pointer;
}

.button {
    padding: 2px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    color:rgb(133, 42, 95);
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    width: 100px;
    border: solid 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .button:hover {
    background-color:rgb(106, 83, 134);
  }

  #blog_toolbar_addButton{
    right: 0%;
    padding-top: 20px;
    padding-left: 15px;
    margin-right: 8%;
    margin-left:8%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12pt;
    font-weight: 700;
    border-style: none;
    margin-top: 10px; 
}

.blogEntryRow{
    display: flex;
    flex-direction:row;
    margin-left: 8%;
    margin-right: 8%;
    padding-top: 30px;
    padding-bottom: 20px;
    flex-wrap: wrap;
}

.blogEntryColumn1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgba(255, 255, 255, 0.621);

}

.blogEmbeddedURL{
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.blogEntryColumn2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    color:rgba(255, 255, 255, 0.621);
    margin-left: 10px;
    margin-right: 5px;

}

.blogEntryDetails{
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
}

.blogTitle{
    font-size: 16pt;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 700;
    word-break: break-word;
    text-align: left;
    color:rgb(161, 164, 209);
}

.blogAuthor{
    margin-top: 5px;
    padding-top:5px;
    margin-bottom: 5px;
    word-break: break-word;
    color:rgb(63, 72, 204);
    text-align: left;
    font-size: 10pt;
    font-weight: 500;
}

.blogArticle.small{
    margin-top: 4px;
    margin-bottom: 4px;
    white-space:pre-line;
    word-break: break-word;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
    min-height:150px;
    color:rgb(97, 104, 168);
    background-color: rgb(44, 50, 105);
    width:350px;
    font-family: Calibri, sans-serif,'Trebuchet MS','Gill Sans', 'Gill Sans MT'; 
    font-size: 14pt;
    font-weight: 700;
    border-radius: 8px;
}

.blogArticle.large{
    margin-top: 4px;
    margin-bottom: 4px;
    white-space:pre-line;
    word-break: break-word;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
    min-height:150px;
    color:rgb(97, 104, 168);
    background-color: rgb(44, 50, 105);
    font-family: Calibri, sans-serif,'Trebuchet MS','Gill Sans', 'Gill Sans MT'; 
    font-size: 14pt;
    font-weight: 700;
    border-radius: 8px;
    max-width:600px;

}

.blog_bottom_row{
    display: flex;
    flex-direction: row;
}

.blogDate{
    margin-top: 5px;
    margin-bottom: 15px;
    padding-top:5px;
    word-break: break-word;
    font-size: 11pt;
    color:rgb(97, 104, 168);
    text-align: left;
 
}

.blogMenu{
    margin-left: 10px;
    margin-bottom: 5px;
    padding-right: 10px;

}

#react-player{
    border-style: solid;
    border-width: 1px;
    border-color:rgb(133, 42, 95);
}

.menu{
    margin-top: 10px;
    margin-top: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a.menu_item:link{
    color: rgb(63, 72, 204);
}

a.menu_item:active{
    color: rgb(63, 72, 204);
}

a.menu_item:visited{
    color: rgb(63, 72, 204);
}

a.menu_item:hover{
    color: rgb(100, 109, 236);
}

.drop_down{
    position: relative;
}

.drop_down_menu{
    position: absolute;
    right: 0px;
    top: calc(100% + .5rem);
    text-align: right;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: -2px 2px 5px 0 rgba(0, 0, 0, 1);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-25px);
    transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
    min-width: 50px;
    background-color: rgb(7, 9, 27);
}


.drop_down.active > .menu + .drop_down_menu{
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}


.drop_down_menu_items{
    display: grid;
    grid-template-columns: repeat(1, max-content);
    gap: 2rem;
}

.dropdown_links{
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.contentContainer.loaded{
    opacity: 1;
}

.contentContainer{
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 1500ms ease-in, transform 1500ms ease-in-out;
}

.contentContainer.loading{
    opacity: 1;
    transform: translateY(0);
}



/*********************************Animations****************************************/

@keyframes logo_animation1{
    0%{
        visibility: visible;
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}

@keyframes logo_animation2{
    0%{
        visibility: visible;
        transform: scale(1, 1);
    }
    100%{
        transform:  scale(1, 0);
    }
}

.intro-animation{
    height: 100vh;
    width: 100vw;
}

.intro_animation_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#logo_icon1{
    height: 200px;
    width: 200px;;
}

.logo_animation1{
    transform-style: preserve-3d;
    perspective: 1000px;
    perspective-origin: left;
}

.logo_animation1{
    animation: logo_animation1 2s linear;
}

.logo_animation2{
    transform-style: preserve-3d;
    perspective: 1000px;
    perspective-origin: left;
    visibility:visible;
}

.logo_animation2{
    animation: logo_animation2 1s;
}


@keyframes swipe_animation{
    0%{
        width: 0vw;
        height:2px;
        top:50%;
        visibility:visible;
        background-color: rgba(255, 0, 129, 100);
    }
    50%{
        width: 100vw;
        height:2px;
        top:50%;
        background-color: rgba(255, 0, 129, 100);
    }
    100%{
        width: 100vw;
        height:100%;
        top:0%;
        background-color: rgba(255, 0, 129, 0);;
    }
}

.swipe_animation{
    width: 100vw;
    height:100%;
    top:50%;
    display: block;
    visibility:hidden;
    background-color: rgba(255, 0, 129, 100);
}

.swipe_animation{
    animation: swipe_animation 2s;
}


@keyframes opacity_animation{
    0%{
        filter: opacity(0%);
    }
    100%{
        filter: opacity(100%);
    }
}

.appContainer{
    filter: opacity(100%);
}

.appContainer{
    animation: opacity_animation 5s;
}


.opaque_animation{
    filter: opacity(100%);
}

.opaque_animation{
    animation: opacity_animation 9s;
}

@keyframes menu_animation1{
    0%{
        transform: rotateX(0deg);
    }
    100%{
        transform: rotateX(180deg);
    }
}

.menu_active{
    transform: rotateX(180deg);
}
    
.menu_active{
    animation: menu_animation1 1s;
}

@keyframes menu_animation2{
    0%{
        transform: rotateX(180deg);
    }
    100%{
        transform: rotateX(0deg);
    }
}

.menu_inactive{
    transform: rotateX(0deg);
}
    
.menu_inactive{
    animation: menu_animation2 1s;
}


  
